!!! 5
html(lang="en")
  head
    title="StyleBench"
    link(rel='stylesheet', href='index.css')
    |<script data-main="index" src="js/require.js"></script>
    body
    <h1>StyleBench</h1>
    
    include module/button
