/*
	Begin Button Module
 */
$button-color: #FFFFCC;
$button-background-color: #45B28B;

$button-hoverfocus-color: #1A4B36;
$button-hoverfocus-background-color: #DCF1C8;

$button-active-color: #FFFFCC;
$button-active-background-color: #1A4B36;

.button {

	// Theme Styles
  background-color: $button-background-color;
	color: $button-color;

	// Main Styles
	display: inline-block;
	padding: .5rem 0;
	width: 6rem;
  border: 0 none;
  text-decoration:none;
	text-align: center;
	
	// State Styles
	&:hover, &:focus { 
		color: $button-hoverfocus-color;
		background-color: $button-hoverfocus-background-color; 
	}

	&:active { 
		color: $button-active-color;
		background-color: $button-active-background-color; 
	}

	@media screen and (max-width: 550px) {
		width: 100%;
		margin: .1rem 0;
	}
}
/*
	End Button Module
*/
